<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850046060445-t2s4mpbsg71sftf6lb8cqeiloqtpk0pn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850046060445-t2s4mpbsg71sftf6lb8cqeiloqtpk0pn</string>
	<key>API_KEY</key>
	<string>AIzaSyAx9NPs322t0AdxKZCW-NxMbo7wWRwBfSM</string>
	<key>GCM_SENDER_ID</key>
	<string>850046060445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hamitseyrek.SimpleSocialApp</string>
	<key>PROJECT_ID</key>
	<string>simplesocialapp-bd713</string>
	<key>STORAGE_BUCKET</key>
	<string>simplesocialapp-bd713.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850046060445:ios:1ebd5bb26009c12ec01174</string>
</dict>
</plist>